.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 3.87rem;
  & h1 {
    font-family: "Sora", sans-serif;
    font-weight: bold;
    color: var(--content-secondary);
    line-height: 2.5rem;
    font-size: 1.6rem;
  }
}
